@font-face {
    font-family: "Josefin Sans" ;
    src: url(../../assets/static/JosefinSans-Medium.ttf);
    font-weight: normal;
  }

.HeaderC{
    background-color: #FFA8A9;
    height: 60px;
}

.ContainerC{
    height: 400px;
    width: 300px;
    background-color: #FBC2B5;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
    border-radius: 30px;
}
form{
    padding: 10px;
}

p{
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 100;
    color: #A14A76;
    display: inline;
    padding: 40px;
    
}

h2{
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    text-align: center;
    color: #A14A76;
    display: block;
}

label{
    font-family: 'Josefin Sans';
    font-style: normal;
    color: #A14A76;
    margin: 10px;
}

input{
    font-family: 'Josefin Sans';
    font-style: normal;
    color: #ffff;
    margin: 10px;
    padding: 5px;
    display: block;
    border: none;
    border-radius: 10px;
    height: 20px;
    width: 250px;
}
.logop{
    width: 60px;
    height: 60px;
    padding-left:3px;
}

.botao{
    display: block;
    padding: auto;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: #F786AA;
    cursor: pointer;
    font-size: 17px;
}