@font-face {
  font-family: "Josefin Sans" ;
  src: url(./assets/static/JosefinSans-Medium.ttf);
  font-weight: normal;
}

/* header{
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 9999;
  background-color: #F786AA;
} */
/* h2{
  float: right;
  justify-content:flex-end;
  display: inline;
  margin: 15px;
  padding-top: 0px;
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  color: #FFECE8;
  cursor: pointer
} */

/* header + div{
  padding-top: 100px;
} */

.p h1{
  color: #A14A76;
  text-decoration-line: underline;
  text-decoration-color: #A14A76;
  text-shadow: -3px 2px white;
  margin-top: 125px;
  padding-bottom: -20px;
  font-family: 'Josefin Sans';
  font-style: normal;
  font-size: 50px;
  display: inline-block;
  vertical-align: top;
}

#logo{
  display: inline-block;
  padding: -50px;
  margin: 10px;
  width:300px;
  height:300px;
}

/* .p{
  width: 100%;
  height: 250px;
  background-color: #FFA8A9;
  border-radius: 56px;
  z-index: -100
} */

/* .t1{
  position: absolute;
  top: 6%;
} */

/* footer{
  margin-top: 200px;
  width: 100%;
  height: 35px;
  background-color: #F786AA;
} */

#int{
  background-color: white;
  border-radius: 51px;
  margin: 5px 50px ;
  padding-top: 3px ;
  padding-bottom: 3px ;
  width: 55%;
  height: 100%;
  text-align: center;
}

#intt{
  padding: 15px;
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}
